<!DOCTYPE html>
<html lang="es">

<head>
    <title>Gestion Academica: Añadir Un Alumno</title>
    <th:block th:replace="~{fragments/general.html :: headerfiles}"></th:block>
</head>

<body>

        <div th:replace="~{fragments/general.html :: navigation}"> </div>

        <div class="container">
            <h3>Añadir Un Alumno</h3>

            <form th:action="@{/alumnos/add}" th:object="${alumno}" method="post">
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre: <input type="text" th:field="*{nombre}"
                                    class="form-control" required/></label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Apellidos: <input type="text" th:field="*{apellidos}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Telefono: <input type="text" th:field="*{telefono}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Email: <input type="email" th:field="*{email}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <label class="form-label">Nombre de usuario: <input type="text" th:field="*{username}"
                                    class="form-control" required/></label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Contraseña: <input type="password" th:field="*{password}"
                                    class="form-control" required/></label>
                        </div>
                    </div>
                </div>
                <div class="border">
                    <div class="row g-3 m-2">
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-primary">Guardar</button>
                            <a href="/alumnos" class="btn btn-danger">Cancelar</a>
                        </div>
                    </div>
            </form>
            

            <div th:replace="~{fragments/general.html :: footer}"></div>
        
    </div>
</body>

</html>